

@import url('https://fonts.googleapis.com/css?family=Raleway:100');




#TitleText{
  position: absolute;
  top: 200px;
  left: 25%;
  letter-spacing: -0.00em;
  fill: rgb(231, 217, 241);
  color: rgb(231, 217, 241);
  font: 5.5vw 'Raleway';
	-webkit-animation: tracking-in-expand 6.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both, text-focus-in 1.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: tracking-in-expand 6.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both, text-focus-in 1.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

#TitleText2{
  position: absolute;
  top: 300px;
  left: 25%;
  color: rgb(231, 217, 241);
  letter-spacing: -0.00em;
  fill: rgb(231, 217, 241);
  font: 2.2vw 'Raleway';
	-webkit-animation: tracking-in-expand 6.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both, text-focus-in 1.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: tracking-in-expand 6.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both, text-focus-in 1.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

#cbutton{
  position: absolute;
  top: 50px;
  left:75px;
  width: 135px;
  height: 55px;
  opacity: 0.4;
  color: rgb(231, 217, 241);
  font: 1.5vw 'Raleway';
  -webkit-animation: tracking-in-expand 6.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both, text-focus-in 1.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: tracking-in-expand 6.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both, text-focus-in 1.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#cbutton2{
  position: absolute;
  top: 50px;
  left:150px;
  width: 135px;
  height: 55px;
  opacity: 0.4;
  color: rgb(231, 217, 241);
  font: 1.5vw 'Raleway';
  -webkit-animation: tracking-in-expand 6.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both, text-focus-in 1.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: tracking-in-expand 6.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both, text-focus-in 1.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

input:focus {
  outline:none;
}

#cme{
  position: absolute;
  width: 100%;
  height: 100%;
  left:10%;
}

#cme2{
  position: absolute;
  width: 100%;
  height: 100%;
  left:0%;
  -webkit-animation: text-focus-in 3.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 3.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#cme3{
  position: absolute;
  width: 100%;
  height: 100%;
  left:0%;
  -webkit-animation: text-focus-in2 3.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in2 3.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#text1{
  display: inline-block;
}



#BgImage {
  overflow: scroll;
  top: 0%;
  left: 0%;
  position: fixed;
  width: auto;
  height: 120%;
	-webkit-animation: kenburns-left 100s ease-out both;
	        animation: kenburns-left 100s ease-out both;
}
/*
g#Layer_2 {
	-webkit-animation: kenburns-left 120s ease-out both;
	        animation: kenburns-left 120s ease-out both;
}
*/


/* ----------------------------------------------
 * Generated by Animista on 2017-12-11 14:20:38
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2017-12-11 14:38:19
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-left
 * ----------------------------------------
 */

@keyframes kenburns-left {
  0% {
    -webkit-transform:  scale(1.0) translate(0px, 0px);
            transform:  scale(1.0) translate(0px, 0px);
    -webkit-transform-origin: 16% 50%;
            transform-origin: 16% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-15px, 20px);
            transform: scale(1.25) translate(-15px, 20px);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2017-12-11 21:51:6
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.7em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.7em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2017-12-11 23:58:26
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2017-12-14 13:13:18
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-in2 {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 1;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 0;
  }
}
@keyframes text-focus-in2 {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 1;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 0;
  }
}









